
.alert-primary {
  color: purple;
  background-color: plum;
  border-color: pink;
}

.navbar-light .navbar-toggler {
  color: purple;
  background-color: plum;
  border-color: pink;
}

.text-muted {
  color: gold!important;
}
