@charset "UTF-8";


img {
  image-rendering: pixelated;
}

/*--typography---*/

h1{
  font-family: 'Nixie One', serif;
  color: #011627;
  font-weight: 700;
}

h2 {
  font-family: 'Solway', serif;
  color: #DB5461;
  font-weight: 400;
}

h3 {
  font-family: 'Solway', serif;
  color: #5C9EAD;
  font-weight: 400;
}

h6 {
  font-family: 'Solway', serif;
  color: #011627;
  font-weight: 300;
}

p {
  font-family: 'Solway', serif;
  color: #011627;
  font-weight: 300;
  line-height: 2rem;
}

a {
  font-family: 'Solway', serif;;
  color:#171738;
  font-weight: 300;
}

a:hover {
  color: #593C8F;
  text-decoration: none;
}


/*--card---*/

.text-dark {
  color: #171738 !important;
}

/*--button---*/

.btn-primary {
  background-color: transparent !important;
  border-color: #593C8F !important;
  font-family: 'Solway', serif;
  font-weight: 300;
  color: #593C8F;
}

.btn-primary:hover {
  background-color: rgba(89, 60, 143, 0.5) !important;
  border-color: #8EF9F3 !important;
  color: #8EF9F3;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 180px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #593C8F; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: 'Solway', serif;
  font-weight: 300;
}

#myBtn:hover {
  background-color: #171738; /* Add a dark-grey background on hover */
}

/*--carousel indicators---*/

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


/*--table---*/

.bg-info {
  background-color: rgba(92, 158, 173, 0.15) !important;
}

/*--navbar---*/

#logo {
  width: 200px;
  height: auto;
}


#cart {
  width: 40px;
  height: auto;
}


.navbar-light a {
  color: #593C8F !important;
}

.navbar-light a:hover{
  color: #171738 !important;
}

.nav-link {
  font-family: 'Solway', serif;
}

.navbar-light .navbar-toggler {
  background-color: transparent;
  color: #593C8F;
}

.custom-toggler.navbar-toggler {
    border-color: #593C8F;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(89, 60, 143, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-up {
    top: -40px;
}

/*--Footer---*/
.footer {
  background-image: linear-gradient(#593C8F 5%, #171738 90%);
}

linear-gradient(-90deg, snow, cornsilk 60%, skyblue 80%, cornflowerblue)

/*--font size---*/

html { font-size: 0.75rem;}

@media (min-width: 576px) {
    html { font-size: 0.8rem; }
}
@media (min-width: 768px) {
    html { font-size: 1rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}

/*--animation---*/

@keyframes hideshow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#cyan {
  animation: hideshow 1s ease infinite;
  animation-delay: 0.1s;
}

#pink {
  animation: hideshow 1s ease infinite;
  animation-delay: 0.1s;
}

#purple {
  animation: hideshow 1s ease infinite;
  animation-delay: 0.2s;
}

@keyframes spinning_inner {
  from {
    transform: rotate(0deg);}
  to {
    transform: rotate(360deg);}

}

@keyframes outer {

    from {
      transform: rotate(360deg); }
    to {
      transform: rotate(0deg);}

  }

  @keyframes scale {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
  }


#inner {
  animation: spinning_inner 10s infinite linear;
  transform-origin: center;
}

#outer {
  animation: scale 5s infinite linear;
  transform-origin: center;
}


.st3 {
  fill: #593C8F;
}

.st3:hover {
  fill: rgba(89, 60, 143, 0.3);
}
